service_account.json
/dat/
.env
.venv/
/.venv/

*.env 
.env
#*.csv
.flaskenv
#environment variables 
_site/
_book/
__pycache*
.jupyter_cache/
dat/
*.pkl
*.zip
/dat/
pipeline_log.txt
/tst/*.png 
word_cloud.png
