{% extends 'layout.html' %} #inhertence template
{% block content %}
<div class="progress" style="height: 20px;">
  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('presentation2')}}" >Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="{{ url_for('presentation') }}">1</a></li>
            <li class="page-item"><a class="page-link" href="{{ url_for('presentation2') }}">2</a></li>
            <li class="page-item"><a class="page-link" href="{{ url_for('presentation3') }}">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" tabindex="-1">Next</a>
            </li>
        </ul>
      </nav>
    <h1 class="display-4">Lessons Learned & Future Scope</h1>
    <p class="lead">We carry out a reflective exercise and look at features currently in the backlog.</p>
  </div>
</div>


<div class="card-columns">
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">Prototyping is not easy!</h5>
      <p class="card-text">Circle back to the Design Thinking principles of defining clear goals, and starting with the Minimum Viable Product.</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Flask adds the complexity of being comfortable with HTML, CSS & javascript.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Alternatives include <cite title="Source Title">Streamlit, Dash, Quarto</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer class="blockquote-footer">
        <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img" src="..." alt="Card image">
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<!-- references below-->
<div class="list-group">
  <a href="https://kennethenevoldsen.com/asent/introduction.html" class="list-group-item list-group-item-action ">
    Spacy Asent
  </a>
  <a href="https://importsem.com/evaluate-sentiment-analysis-in-bulk-with-spacy-and-python/" class="list-group-item list-group-item-action">
    Evaluation of sentiment scores</a>
  <a href="https://plotly.com/python/" class="list-group-item list-group-item-action">Ploty</a>
  <a href="https://pandas.pydata.org/docs/" class="list-group-item list-group-item-action">Pandas</a>
  <a href="https://obscuredwriter.medium.com/creating-interactive-dashboards-with-plotly-and-dash-bba1a2d3c2c2" class="list-group-item list-group-item-action disabled">
    Creating Interactive dashboards</a>
    <a href="https://getbootstrap.com/docs/4.0/components/" class="list-group-item list-group-item-action">Bootstrap 4.0 documentation</a>
  <a href="https://github.com/flatplanet/flasker/" class="list-group-item list-group-item-action">Flasker authentication for Flask apps</a>
  <a href="https://github.com/michalsnik/aos" class="list-group-item list-group-item-action">AOS Animation for Bootsrap</a>
  <a href="https://somabhadra.medium.com/the-conclusive-face-off-flask-vs-streamlit-40bdef6859a4" class="list-group-item list-group-item-action">
    Streamlit Vs Flask</a>
</div>
{% endblock %}