{% extends 'layout.html' %} #inhertence template
{% block content %}

<div class="progress" style="height: 20px;">
  <div class="progress-bar" role="progressbar" style="width: 66%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item">
            <a class="page-link" href="{{ url_for('presentation') }}" >Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="{{ url_for('presentation') }}">1</a></li>
            <li class="page-item"><a class="page-link" href="{{ url_for('presentation2') }}">2</a></li>
            <li class="page-item"><a class="page-link" href="{{ url_for('presentation3') }}">3</a></li>
            <li class="page-item">
              <a class="page-link" href="{{ url_for('presentation3') }}">Next</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="{{ url_for('index') }}">Jump to Text Analytics</a>
            </li>
        </ul>
      </nav>
    <h1 class="display-4">A Deep Dive into text analytics</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
    <div class="card-body">
      <h5 class="card-title">Topic Modeling</h5>
      <p class="card-text">Topic modeling is a frequently used approach to discover hidden semantic patterns portrayed by a text corpus and automatically identify topics that exist inside it. Namely, it’s a type of statistical modeling that leverages unsupervised machine learning to analyze and identify clusters or groups of similar words within a body of text. For example, a topic modeling algorithm may be deployed to determine whether the contents of a document imply it’s an invoice, complaint, or contract.</p>
      <p class="card-text"><small class="text-muted">Uses: Finding latent themes(topics) within a text.</small></p>
      <a class="btn btn-primary" href="https://www.datacamp.com/tutorial/what-is-topic-modeling">More information</a>
    </div>
  </div>

  <div class="card">

    <div class="card-body">
      <h5 class="card-title">Sentiment Analysis</h5>
      <p class="card-text">Sentiment analysis is the process of analyzing digital text to determine if the emotional tone of the message is positive, negative, or neutral. Today, companies have large volumes of text data like emails, customer support chat transcripts, social media comments, and reviews. Sentiment analysis tools can scan this text to automatically determine the author’s attitude towards a topic. Companies use the insights from sentiment analysis to improve customer service and increase brand reputation.</p>
      <p class="card-text"><small class="text-muted">Uses: Improving customer service, Brand monitoring & market research</small></p>
      <a class="btn btn-primary" href="https://aws.amazon.com/what-is/sentiment-analysis/">More information</a>
    </div>
  </div>
  
</div>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!--<img class="d-block w-100" src="..." alt="First slide">-->
        <div class="card">
            <!--<img class="card-img-top" src="..." alt="Card image cap">-->
            <div class="card-body">
                <h5 class="card-title">Latent Dirichlet Allocation (LDA)</h5>
                <p class="card-text">LDA is a generative probabilistic model that leverages Bayesian inference to find the underlying topics in a corpus of texts. It assumes each document is a combination of a small number of latent topics, and each word is generated by a particular topic.</p>
                <p class="card-text"><small class="text-muted">Alternatives include LSA</small></p>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="card">
            <!--<img class="card-img-top" src="..." alt="Card image cap">-->
            <div class="card-body">
                <h5 class="card-title">Evaluation of Topic Modeling: Topic Coherence</h5>
                <p class="card-text">Topic Coherence Metric assesses how well a topic is ‘supported’ by a text set (called reference corpus). It uses statistics and probabilities drawn from the reference corpus, especially focused on the word’s context, to give a coherence score to a topic.</p>
                <a class="btn btn-primary" href="https://towardsdatascience.com/understanding-topic-coherence-measures-4aa41339634c/">More information</a>
            </div>
        </div>
      
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% endblock %}